<div class="separator"></div>
<div
  class="container-fluid d-flex flex-column justify-content-center align-items-center vh-100"
>
  <h2 class="text-center fw-semibold font-monospace mb-5 text-white text-decoration-underline">Proyectos</h2>
  <div class="d-flex justify-content-around w-100">
    <div class="card card-custom" style="width: 18rem">
      <img
        src="../../../assets/images/Game Zone.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body ">
        <h5 class="card-title">Game Zone</h5>
        <p class="card-text">
          Aplicación dedicada la creación y búsqueda de descripción de
          videojuegos.
        </p>
      </div> 
      <ul class="list-group list-group-flush">
        <li class="list-group-item">React, Redux, Css</li>
        <li class="list-group-item">
          Node.js, Express.js, Sequelize,Javascript
        </li>
        <li class="list-group-item">PostgreSQL</li>
      </ul>
      <div class="card-body">
        <a href="https://github.com/psamirt/Gamer-Zone" class="card-link" target="_blank"
          >Repositorio Git</a
        >
        <a href="https://gamezone-six.vercel.app/" class="card-link" target="_blank"
          >Game Zone</a
        >
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <img
        src="../../../assets/images/ReStore.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">ReStore</h5>
        <p class="card-text">
          E-commerce inspirada en venta de artefactos tecnológicos
          reutilizables.
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Next.js, Redux, Tailwind</li>
        <li class="list-group-item">
          Node.js, Express.js, Mongoose, Javascript
        </li>
        <li class="list-group-item">MongoDb</li>
      </ul>
      <div class="card-body">
        <a href="https://github.com/psamirt/ReStore" class="card-link" target="_blank"
          >Repositorio Git</a
        >
        <a href="https://re-store-six.vercel.app/" class="card-link" target="_blank"
          >ReStore</a
        >
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-5" style="width: max-content;">
    <img src="../../../assets/images/next.png" alt="next" class="mx-2" style="width: 70px; margin-right: 5px;" />
    <img src="../../../assets/images/css.png" alt="css" class="mx-2" style="width: 70px; margin-right: 5px;" />
    <img src="../../../assets/images/javascript.png" alt="javascript" class="mx-2" style="width: 70px; margin-right: 5px;" />
    <img src="../../../assets/images/mongo.png" alt="mongodb" class="mx-2" style="width: 70px; margin-right: 5px;" />
    <img src="../../../assets/images/node.png" alt="node" class="mx-2" style="width: 70px; margin-right: 5px;" />
    <img src="../../../assets/images/postgre.png" alt="postgres" class="mx-2" style="width: 70px; margin-right: 5px;" />
    <img src="../../../assets/images/React.png" alt="react" class="mx-2" style="width: 70px; margin-right: 5px;" />
    <img src="../../../assets/images/Redux.png" alt="redux" class="mx-2" style="width: 70px; margin-right: 5px;" />
    <img src="../../../assets/images/tailwind.png" alt="tailwind" class="mx-2" style="width: 70px; margin-right: 5px;" />
  </div>
  
</div>
