<div
  class="container-fluid d-flex flex-column justify-content-center align-items-center vh-100"
>
  <h2 class="text-center m-3">Proyectos</h2>
  <div class="d-flex justify-content-around w-100">
    <div class="card" style="width: 18rem">
      <img
        src="../../../assets/images/Game Zone.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Game Zone</h5>
        <p class="card-text">
          Aplicación dedicada la creación y búsqueda de descripción de
          videojuegos.
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">React, Redux, Css</li>
        <li class="list-group-item">
          Node.js, Express.js, Sequelize,Javascript
        </li>
        <li class="list-group-item">PostgreSQL</li>
      </ul>
      <div class="card-body">
        <a href="https://github.com/psamirt/Gamer-Zone" class="card-link"
          >Repositorio Git</a
        >
        <a href="https://gamezone-six.vercel.app/" class="card-link"
          >Game Zone</a
        >
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <img
        src="../../../assets/images/ReStore.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">ReStore</h5>
        <p class="card-text">
          E-commerce inspirada en venta de artefactos tecnológicos
          reutilizables.
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Next.js, Redux, Tailwind</li>
        <li class="list-group-item">
          Node.js, Express.js, Mongoose, Javascript
        </li>
        <li class="list-group-item">MongoDb</li>
      </ul>
      <div class="card-body">
        <a href="https://github.com/psamirt/Gamer-Zone" class="card-link"
          >Repositorio Git</a
        >
        <a href="https://gamezone-six.vercel.app/" class="card-link"
          >Game Zone</a
        >
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-3">
    <img src="../../../assets/images/next.png" alt="" class="mx-2" />
    <img src="../../../assets/images/css.png" alt="" class="mx-2" />
    <img src="../../../assets/images/javascript.png" alt="" class="mx-2" />
    <img src="../../../assets/images/mongo.png" alt="" class="mx-2" />
    <img src="../../../assets/images/node.png" alt="" class="mx-2" />
    <img src="../../../assets/images/postgre.png" alt="" class="mx-2" />
    <img src="../../../assets/images/React.png" alt="" class="mx-2" />
    <img src="../../../assets/images/Redux.png" alt="" class="mx-2" />
    <img src="../../../assets/images/tailwind.png" alt="" class="mx-2" />
  </div>
</div>
