/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgb(49, 47, 47);
  background-size: cover;
  background-attachment: fixed;
  max-width: 1200px;
  margin: 0 auto;
}
