<div class="separator"></div>

<div
  class="container-fluid d-flex flex-column justify-content-center align-items-center vh-100"
>
<h2 class="text-center fw-semibold font-monospace mb-5 text-white text-decoration-underline">Acerca de mi</h2>
  <div
    class="bg-light container px-4 text-center border border-black mt-5 mb-5 rounded position-relative h-50 d-inline-block d-flex justify-content-center align-items-center"
  >
    <div class="row gx-5">
      <div class="col align-self-center">
        <p class="fw-semibold font-monospace fs-4 text-center">
          Soy un desarrollador Front-end con sólida base en tecnologías clave como
          JavaScript, Node.js, HTML, CSS, Bootstrap, Tailwind y Next.js. Comprometido con la
          excelencia, habituado a trabajar con tecnologías ágiles y autodidacta.
          He desarrollado proyectos personales y grupales demostrando
          creatividad y capacidad de resolución de problemas.
        </p>
      </div>
    </div>
  </div>
</div>
