<div class="container-fluid d-flex flex-column justify-content-center align-items-center vh-100">
  <div class="container px-4 text-center border border-black mt-5 mb-5 rounded position-relative">
    <div class="row gx-5">
      <div class="col align-self-center">
        <p class="fw-semibold font-monospace fs-2">Hola mundo,<br>soy Paolo Tello,<br>desarrollador<br>Front-end</p>
      </div>
      <div class="col">
        <div class="p-3"><img src="../../../assets/imagen muestra.jpg" alt="Tu foto" class="img-fluid" /></div>
      </div>
    </div>
  </div>
