<div class="separator"></div>
<div
  class="container-fluid d-flex flex-column justify-content-center align-items-center vh-100"
>
  <h2
    class="text-center fw-semibold font-monospace mb-5 text-white text-decoration-underline"
  >
    Contacto
  </h2>

  <form
    action="https://formsubmit.co/p_samir@hotmail.com"
    class="row"
    method="POST"
  >
    <div class="col-12 col-md-6 mb-3">
      <input
        type="text"
        class="form-control"
        name="name"
        placeholder="Nombre"
        required
      />
    </div>
    <div class="col-12 col-md-6 mb-3">
      <input
        type="email"
        class="form-control"
        name="email"
        placeholder="Email"
        required
      />
    </div>
    <div class="col-12 mb-3">
      <textarea
        name="comentario"
        id="comment"
        class="form-control"
        rows="10"
        placeholder="Comentario"
        required
      ></textarea>
    </div>
    <div class="col-12 mb-3 d-flex justify-content-center">
      <button class="btn btn-primary" type="submit">Enviar</button>
    </div>
  </form>

  <div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item" style="margin-right: 5px">
          <a
            href="https://www.facebook.com/paolo.tellouypan"
            class="nav-link px-2 text-white"
            target="_blank"
            ><img src="../../../assets/images/facebook.png" alt="facebook"
          /></a>
        </li>
        <li class="nav-item" style="margin-right: 5px">
          <a
            href="https://www.instagram.com/paolosamir/"
            class="nav-link px-2 text-white"
            target="_blank"
            ><img src="../../../assets/images/instagram.png" alt="instagram"
          /></a>
        </li>
        <li class="nav-item" style="margin-right: 5px">
          <a
            href="https://twitter.com/Paolosamir"
            class="nav-link px-2 text-white"
            target="_blank"
            ><img src="../../../assets/images/twitter.png" alt="twitter"
          /></a>
        </li>
        <li class="nav-item" style="margin-right: 5px">
          <a
            href="https://github.com/psamirt"
            class="nav-link px-2 text-white"
            target="_blank"
            ><img src="../../../assets/images/github.png" alt="github"
          /></a>
        </li>
        <li class="nav-item" style="margin-right: 5px">
          <a
            href="https://www.linkedin.com/in/paolo-tello-7a1872285/"
            class="nav-link px-2 text-white"
            target="_blank"
            ><img src="../../../assets/images/linkedin.png" alt="linkedin"
          /></a>
        </li>
      </ul>
      <p class="text-center text-white">Paolo Tello</p>
    </footer>
  </div>
</div>
