<hr />
<p class="fs-2" >
  about works! Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
  ullam aut mollitia est perspiciatis? Quasi dolorum ex repellendus, consequatur
  qui perferendis cum cupiditate. Delectus exercitationem quaerat quam eaque in
  animi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur,
  quibusdam corporis. Autem sint fugit, qui, ex quisquam cum culpa laborum
  voluptatum soluta totam blanditiis voluptate a alias laboriosam voluptatibus
  obcaecati. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
  necessitatibus, hic fugiat dolor possimus distinctio harum illum quidem iusto,
  quaerat blanditiis. Impedit perferendis, beatae atque odio aspernatur fugiat
  autem nihil. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima,
  sit autem! Velit nisi hic omnis facilis quos nesciunt, voluptates obcaecati
  cumque repudiandae laudantium sequi officia quae earum sunt necessitatibus
  repellat. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
  Perspiciatis, natus dignissimos. Nulla necessitatibus officia porro? Optio
  veritatis consectetur quisquam dolore alias tenetur amet, fuga fugiat nam
  sequi consequatur, veniam vitae. Lorem ipsum dolor sit amet consectetur
  adipisicing elit. Molestiae reiciendis veritatis quod totam? Cumque
  praesentium deserunt atque, tempore perferendis natus mollitia officiis at
  perspiciatis voluptatum ratione quisquam fuga. Inventore, nihil? Lorem, ipsum
  dolor sit amet consectetur adipisicing elit. Ab maxime odit eum aspernatur
  dolorem voluptas, nesciunt quis aliquid velit. Eaque natus ullam
  necessitatibus possimus perspiciatis sunt laudantium dolorem sint repudiandae.
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo quam eos
  voluptates culpa quo molestias inventore incidunt dolorem, ipsum deleniti
  saepe a exercitationem architecto ut, officiis fugiat minima provident
  asperiores. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor,
  eaque doloremque placeat quis similique maiores consequatur et perspiciatis
  mollitia, sequi aspernatur! Vitae repellendus fugit sed cupiditate ducimus ex
  at velit.
</p>
